:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.list {list-style: none;}
.link {text-decoration: none;}

body {font-family: var(--main-font);
    font-size: 14px;
    color: #FFFFFF;
}

/* --------------------------- HEADER */
.logo-first {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-second {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.menu-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.menu-link:hover,
.menu-link:focus {color:#2196F3;}

.header-contact {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.header-contact:hover,
.header-contact:focus {color:#2196F3;}

/* --------------------------- /HEADER */

/* --------------------------- HERO  */
.hero {
    background-color: 
    #2F303A;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.modal-btn {
background-color: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
/* --------------------------- /HERO */

/* --------------------------- ADVANTAGES  */

.advantages-title {
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;}

.advantages-descriptions {
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/* --------------------------- /ADVANTAGES  */

/* --------------------------- ABOUT US  */
/* --------------------------- /ABOUT US  */

/* --------------------------- OUR TEAM  */
.our-team {
    background-color:#F5F4FA;
}

.our-team-item-li {
    background-color: white;
}

.our-team-member-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-team-member-position {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;}

/* --------------------------- /OUR TEAM  */

/* -------------------- FILTER BTNS  */
.works-list {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}

.works-links:hover,
.works-links:focus {background:#2196F3;
color: white;
cursor:pointer}

/* -------------------- /FILTER BTNS */

/* -------------------- PORTFOLIO WORKS */

.work-name {
color: #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;}

.work-descriptions {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575}

/* -------------------- /PORTFOLIO WORKS*/

/* --------------------------- FOOTER  */

.footer {background-color: #2F303A;}

.footer-address {
font-weight: 400;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;
}

.footer-contact {
font-weight: 400;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/* --------------------------- /FOOTER  */

/* --------------------------- COMPONENTS  */
.section-descriprion {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121; }
    
.logo-background-dark {color: #FFFFFF;}
.logo-background-white {color:#000000;}
    
/* --------------------------- /COMPONENTS  */